.Home{
    width: 100%;
    height: 100%;
    display: flex;
    /* flex-direction: column; */
}

.Home-Counter1,
.Home-Counter2{
    width: 100%;
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Home-Counter1{
    height: 50px;
}
.Home-Counter2{
    height: 60px;
}

.Home-Counter1>span, .Home-Counter2>span{
    font-size: 22px;
}

.Home-Containers{
    height: 100%;
    display: flex;
    justify-content: center;
}

.Home-TotalCounterContainer{
    width: 100%;
}

.Home-OthersContainer{
    width: 100%;
    align-items: center;
    flex-direction: column;
    margin-left: 10px;
}

.Home-TotalCounter{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: #1a202b;
    padding: 25px 20px;
}

.Home-TotalCounter>h1{
    text-align: center;
    color: #fff;
    font-size: 40px;
    margin-bottom: 10px;
}

.Home-Total{
    width: 100%;
}
.Home-Total>p{
    color: #fff;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin: 5px 0;
}

.Home-TotalCasesGrid{
    margin: 20px 0;
    width: 100%;
    display: grid;
    grid-auto-flow: row dense; 
    grid-auto-columns: minmax(20px, 60px); 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 10px 10px;
    width: 100%; 
    height: 100%; 
}

.Home-TotalCasesGrid>div{
    width: 100%;
    /* height: 100%; */
    /* background-color: #fff; */
}
.Home-TotalCasesGrid>div>p{
    color: #fff;
    text-align: center;
    font-size: 18px;
}

.Home-TodayCasesGrid{
    margin: 20px 0;
    width: 100%;
    display: grid;
    grid-auto-flow: row dense; 
    grid-auto-columns: minmax(20px, 60px); 
    grid-template-columns: 1fr 1fr; 
    gap: 10px 10px;
    width: 100%; 
    height: 100%; 
}

.Home-TodayCasesGrid>div{
    width: 100%;
    /* height: 100%; */
    /* background-color: #fff; */
}
.Home-TodayCasesGrid>div>p{
    color: #fff;
    text-align: center;
    font-size: 18px;
}