@import '../Variables.scss';

.home {
    width: 100%;
    height: 100%;
    display: flex;

    // Containers
    &__conts {
        height: 100%;
        display: flex;
        justify-content: center;
    }
    &__totalCounterCont {
        width: 100%;
    }
    &__othersCont {
        width: 100%;
        align-items: center;
        flex-direction: column;
        margin-left: 10px;
    }

    // Total Counter Container
    &__totalCounter {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        background-color: $bg-2;
        padding: 25px 20px;

        &--title {
            text-align: center;
            color: $font-cl-1;
            font-size: 40px;
            margin-bottom: 10px;
            user-select: none;
        }

        // Totals Container
        &__total {
            width: 100%;
            &--subtitle {
                color: $font-cl-1;
                text-align: center;
                font-size: 18px;
                font-weight: bold;
                margin: 5px 0;
                user-select: none; 
            }
        }
    }

    &__counter1, &__counter2 {
        width: 100%;
        border-radius: 10px;
        background-color: $bg-5;
        display: flex;
        justify-content: center;
        align-items: center;
        &--subtitle {
            color: $font-cl-1;
            text-align: center;
            font-size: 18px;
            user-select: none;
        }
        &>span {
            font-size: 22px;
        }
    }
    &__counter1 {
        height: 50px;
    }
    &__counter2 {
        height: 60px;
    }

    &__totalCasesGrid {
        margin: 20px 0;
        width: 100%;
        display: grid;
        grid-auto-flow: row dense; 
        grid-auto-columns: minmax(20px, 60px); 
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr 1fr 1fr; 
        gap: 10px 10px;
        width: 100%; 
        height: 100%;

        &--cont {
            width: 100%;
            /* height: 100%; */
            /* background-color: #fff; */
        }
    }

    // Today Cases Container
    &__todayCasesGrid {
        margin: 20px 0;
        width: 100%;
        display: grid;
        grid-auto-flow: row dense; 
        grid-auto-columns: minmax(20px, 60px); 
        grid-template-columns: 1fr 1fr; 
        gap: 10px 10px;
        width: 100%; 
        height: 100%;
        &--cont {
            width: 100%;
            /* height: 100%; */
            /* background-color: #fff; */

        }
    }

}

@media (max-width: 930px) {
    
    .home {
        flex-direction: column;

        &__othersCont {
            margin: 0;
            margin-top: 10px;
        }
    }
    
}