/* 930px min width */

*{
  box-sizing: border-box;
  outline: none;
  margin: 0;
  padding: 0;
}

.App {
  background-color: #0f141b;
  width: 100%;
  height: 100%;
  padding: 10px;
}

header{
  width: 100%;
  height: 50px;
  border-radius: 5px;
  background-color: #1a202b;
  display: flex;
  user-select: none;
  margin-bottom: 10px;
  justify-content: space-between;
  /* display: none; */
}

.optionsMenu{
  display: none;
}

.header-section{
  height: 100%;
}

.sections{
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.section-links{
  text-decoration: none;
  padding: 0 10px;
  color: #b7c3db;
  font-size: 20px;
}

.logoContainer{
  width: 160px;
  /* background-color: antiquewhite; */
}

.searchBar{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchInputContainer{
  width: 450px;
  height: 60%;
  border: none;
  border-radius: 5px;
  background-color: #323947;
  display: flex;
  align-items: center;
}
.searchLogo{
  padding: 0 8px;
  color: #b7c3db;
}

.searchInputContainer>input{
  width: 100%;
  height: 80%;
  border-left: 1px solid #b7c3db;
  background-color: transparent;
  color: #b7c3db;
  border: none;
  font-weight: bold;
  font-size: 16px;
}
.searchInputContainer>input::placeholder{
  color: #b7c3db3f;
  font-weight: normal;
}

.logoContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 25px ;
}
.logoContainer>span{
  color: #b7c3db;
  font-weight: bold;
  font-size: 20px;
}

.header-submenu{
  position: absolute;
  width: 100vw;
  height: 200px;
  margin: 5px;
  background-color: #1a202b;
  z-index: 1;
  display: none;
}